/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
body{
  font-size: 17px;
  font-weight: normal;
  background-color: pink;
}


#title {
  text-align: center;
  color : red;
}

#NameList{
  margin-top : 60px;
  margin-left : 20px;
  width: 200px;
  float: left;
  text-align: center; 
  font-weight: bold;
  font-size: 150%;
}

#CheckNameBox , #NoCheckNameBox{
  margin-top : 60px;
  margin-left : 20px;
  width: 150px;
  float: left;
  text-align: center; 
  font-weight: bold;
  font-size: 150%;
}

#TeamListBox{
  margin-top : 60px;
  margin-left : 20px;
  width: 190px;
  float: left;
  text-align: center; 
  font-weight: bold;
  font-size: 150%;
}

#NameList, #CheckName , #NoCheckName{
  font-size: 17px;
  font-weight: normal;
}


#box {
  width: 800px;
  float: left;
  margin-top : 60px;
  text-align: center;
  color: red;
}

#Love {
  width: 800px;
  text-align: center;
  color: red;
  height: 300px;
}

#Who{
  font-size: 100px;
  color: red;
}

input {
  margin: 10px;
}

#ButtonBox{
  text-align: center;
}

#get , #shuffle , #Cancel{
  width: 190px;
  height : 40px;
  border-radius : 10px; 
}

#TeamList {
  padding-top : 20px;
  padding-bottom : 20px;
  font-size: 17px;
  font-weight: normal;
  color : black;
}

#CheckNameBox {
  color : blue;
}

#NoCheckNameBox {
  color : red;
}